//====================================
$breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1200px,
  xxl: 1400px
);

$device-variants: "desktop", "tablet", "mobile";

$display-variants: "block", "flex";
  //===================================