$var: "defined vars"

//====================================
$breakpoints: (
  mobile: 375px,
  smallTablet: 576px,
  tablet: 768px,
  bitTablet: 991px,
  desktop: 1200px,
  bigDesktop: 1400px
) 
  //===================================